.e6_152 { 
	overflow:hidden;
}
.e6_152 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:3000px;
	position:absolute;
}
.e17_110 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:947px;
	position:absolute;
	left:0px;
	top:1788px;
}
.e17_113 { 
	color:rgba(0, 0, 0, 1);
	width:464px;
	height:72px;
	position:absolute;
	left:96px;
	top:30px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_120 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:72px;
	position:absolute;
	left:256px;
	top:224px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_123 { 
	color:rgba(0, 0, 0, 1);
	width:273px;
	height:72px;
	position:absolute;
	left:98px;
	top:419px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_130 { 
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:432px;
	position:absolute;
	left:96px;
	top:491px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_131 { 
	color:rgba(0, 0, 0, 1);
	width:282px;
	height:432px;
	position:absolute;
	left:587px;
	top:502px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_132 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:216px;
	position:absolute;
	left:1188px;
	top:502px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_125 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:72px;
	position:absolute;
	left:587px;
	top:419px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_126 { 
	color:rgba(0, 0, 0, 1);
	width:246px;
	height:72px;
	position:absolute;
	left:1188px;
	top:419px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_127 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:72px;
	position:absolute;
	left:98px;
	top:347px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_128 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:72px;
	position:absolute;
	left:587px;
	top:347px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_129 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:72px;
	position:absolute;
	left:1188px;
	top:347px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_121 { 
	color:rgba(0, 0, 0, 1);
	width:283px;
	height:72px;
	position:absolute;
	left:726px;
	top:224px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_122 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:72px;
	position:absolute;
	left:1343px;
	top:224px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_117 { 
	width:106px;
	height:104px;
	position:absolute;
	left:587px;
	top:199px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_115 { 
	width:123px;
	height:122px;
	position:absolute;
	left:98px;
	top:199px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_119 { 
	width:111px;
	height:111px;
	position:absolute;
	left:1188px;
	top:204px;
	border-top-left-radius:494.5px;
	border-top-right-radius:494.5px;
	border-bottom-left-radius:494.5px;
	border-bottom-right-radius:494.5px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_56 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:777px;
	position:absolute;
	left:1px;
	top:1011px;
}
.e17_57 { 
	width:41px;
	height:41px;
	position:absolute;
	left:86px;
	top:601px;
}
.e17_58 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_58 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e17_59 { 
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:11px;
	top:11px;
}
.e17_60 { 
	width:41px;
	height:41px;
	position:absolute;
	left:86px;
	top:462px;
}
.e17_61 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_61 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e17_62 { 
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:11px;
	top:11px;
}
.e17_63 { 
	width:41px;
	height:41px;
	position:absolute;
	left:86px;
	top:320px;
}
.e17_64 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_64 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e17_65 { 
	width:41px;
	height:41px;
	position:absolute;
	left:86px;
	top:187px;
}
.e17_66 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_66 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e17_67 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:11px;
	top:11px;
}
.e17_68 { 
	width:41px;
	height:41px;
	position:absolute;
	left:819px;
	top:177px;
}
.e17_69 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_69 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e17_70 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:11px;
	top:11px;
}
.e17_71 { 
	width:41px;
	height:41px;
	position:absolute;
	left:819px;
	top:253px;
}
.e17_72 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_72 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e17_73 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:11px;
	top:11px;
}
.e17_74 { 
	width:41px;
	height:41px;
	position:absolute;
	left:819px;
	top:318px;
}
.e17_75 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_75 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e17_76 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:11px;
	top:11px;
}
.e17_77 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:97px;
	top:331px;
}
.e17_78 { 
	color:rgba(0, 0, 0, 1);
	width:205px;
	height:72px;
	position:absolute;
	left:150px;
	top:170px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_79 { 
	color:rgba(0, 0, 0, 1);
	width:234px;
	height:72px;
	position:absolute;
	left:150px;
	top:305px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_80 { 
	color:rgba(0, 0, 0, 1);
	width:217px;
	height:72px;
	position:absolute;
	left:151px;
	top:446px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_81 { 
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:72px;
	position:absolute;
	left:151px;
	top:586px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_82 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:72px;
	position:absolute;
	left:150px;
	top:217px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_83 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:72px;
	position:absolute;
	left:150px;
	top:351px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_84 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:72px;
	position:absolute;
	left:150px;
	top:493px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_85 { 
	color:rgba(0, 0, 0, 1);
	width:257px;
	height:72px;
	position:absolute;
	left:150px;
	top:624px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_86 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:72px;
	position:absolute;
	left:150px;
	top:246px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_87 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:72px;
	position:absolute;
	left:151px;
	top:383px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_88 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:72px;
	position:absolute;
	left:151px;
	top:529px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_89 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:72px;
	position:absolute;
	left:151px;
	top:662px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_90 { 
	transform: rotate(89.99999769588018deg);
	width:75px;
	height:4.547473508864641e-13px;
	position:absolute;
	left:107px;
	top:238px;
}
.e17_90 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e17_91 { 
	transform: rotate(89.99999769588018deg);
	width:75px;
	height:0px;
	position:absolute;
	left:107px;
	top:377px;
}
.e17_91 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e17_92 { 
	transform: rotate(89.99999769588018deg);
	width:75px;
	height:0px;
	position:absolute;
	left:106px;
	top:518px;
}
.e17_92 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e17_93 { 
	transform: rotate(89.99999769588018deg);
	width:75px;
	height:0px;
	position:absolute;
	left:107px;
	top:649px;
}
.e17_93 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e17_94 { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:72px;
	position:absolute;
	left:86px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_96 { 
	width:66px;
	height:52px;
	position:absolute;
	left:73px;
	top:180px;
	border-top-left-radius:35.5px;
	border-top-right-radius:35.5px;
	border-bottom-left-radius:35.5px;
	border-bottom-right-radius:35.5px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_97 { 
	width:57px;
	height:57px;
	position:absolute;
	left:78px;
	top:316px;
	border-top-left-radius:107px;
	border-top-right-radius:107px;
	border-bottom-left-radius:107px;
	border-bottom-right-radius:107px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_98 { 
	width:57px;
	height:57px;
	position:absolute;
	left:78px;
	top:454px;
	border-top-left-radius:107px;
	border-top-right-radius:107px;
	border-bottom-left-radius:107px;
	border-bottom-right-radius:107px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_99 { 
	width:43px;
	height:43px;
	position:absolute;
	left:84px;
	top:600px;
	border-top-left-radius:150px;
	border-top-right-radius:150px;
	border-bottom-left-radius:150px;
	border-bottom-right-radius:150px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_95 { 
	color:rgba(0, 0, 0, 1);
	width:523px;
	height:72px;
	position:absolute;
	left:819px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_100 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:72px;
	position:absolute;
	left:883px;
	top:160px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_101 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:72px;
	position:absolute;
	left:885px;
	top:241px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_102 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:72px;
	position:absolute;
	left:883px;
	top:309px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_103 { 
	transform: rotate(89.99999749552173deg);
	width:326px;
	height:0px;
	position:absolute;
	left:649px;
	top:136px;
}
.e17_103 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e6_162 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:454px;
	position:absolute;
	left:0px;
	top:557px;
}
.e6_164 { 
	color:rgba(0, 0, 0, 1);
	width:258px;
	height:72px;
	position:absolute;
	left:69px;
	top:27px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_178 { 
	color:rgba(0, 0, 0, 1);
	width:271px;
	height:72px;
	position:absolute;
	left:840px;
	top:27px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_173 { 
	width:35px;
	height:47px;
	position:absolute;
	left:76px;
	top:227px;
	border-top-left-radius:232px;
	border-top-right-radius:232px;
	border-bottom-left-radius:232px;
	border-bottom-right-radius:232px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_166 { 
	width:49px;
	height:50px;
	position:absolute;
	left:69px;
	top:134px;
	border-top-left-radius:210.5px;
	border-top-right-radius:210.5px;
	border-bottom-left-radius:210.5px;
	border-bottom-right-radius:210.5px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_167 { 
	color:rgba(0, 0, 0, 1);
	width:143px;
	height:72px;
	position:absolute;
	left:145px;
	top:123px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_174 { 
	color:rgba(0, 0, 0, 1);
	width:406px;
	height:72px;
	position:absolute;
	left:145px;
	top:215px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_176 { 
	width:44px;
	height:44px;
	position:absolute;
	left:72px;
	top:317px;
	border-top-left-radius:160px;
	border-top-right-radius:160px;
	border-bottom-left-radius:160px;
	border-bottom-right-radius:160px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_177 { 
	color:rgba(0, 0, 0, 1);
	width:297px;
	height:72px;
	position:absolute;
	left:145px;
	top:303px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_179 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:72px;
	position:absolute;
	left:840px;
	top:116px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_180 { 
	color:rgba(0, 0, 0, 1);
	width:334px;
	height:72px;
	position:absolute;
	left:840px;
	top:215px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_181 { 
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:72px;
	position:absolute;
	left:841px;
	top:296px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_182 { 
	transform: rotate(89.99999749552173deg);
	width:326px;
	height:0px;
	position:absolute;
	left:649px;
	top:42px;
}
.e6_182 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e6_156 { 
	background-color:rgba(23.37500050663948, 23.37500050663948, 23.37500050663948, 1);
	width:1680px;
	height:474px;
	position:absolute;
	left:0px;
	top:83px;
}
.e6_157 { 
	width:229px;
	height:296px;
	position:absolute;
	left:1367px;
	top:90px;
	background-image:url(images/314459875_1281380945960075_2241136818531871138_n_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_158 { 
	color:rgba(255, 255, 255, 1);
	width:739px;
	height:72px;
	position:absolute;
	left:81px;
	top:202px;
	font-family:Montserrat;
	text-align:left;
	font-size:80px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_159 { 
	color:rgba(255, 255, 255, 1);
	width:195px;
	height:72px;
	position:absolute;
	left:625px;
	top:274px;
	font-family:Montserrat;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_160 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:72px;
	position:absolute;
	left:761px;
	top:314px;
	font-family:Montserrat;
	text-align:left;
	font-size:30px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_161 { 
	transform: rotate(180deg);
	width:412px;
	height:0px;
	position:absolute;
	left:840px;
	top:284px;
}
.e6_161 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e17_37 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e17_37 { 
	width:242px;
	height:317px;
	position:absolute;
	left:1361px;
	top:75px;
}
.e6_153 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_155 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:39px;
	position:absolute;
	left:113px;
	top:22px;
	font-family:Montserrat;
	text-align:center;
	font-size:25px;
	letter-spacing:-1.5;
}
.e6_154 { 
	width:55px;
	height:54px;
	position:absolute;
	left:58px;
	top:14px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
	background-image:url(images/logo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_104 { 
	background-color:rgba(0, 0, 0, 1);
	width:1680px;
	height:265px;
	position:absolute;
	left:0px;
	top:2735px;
}
.e17_105 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:466px;
	top:133px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_106 { 
	color:rgba(255, 255, 255, 0.800000011920929);
	width:301px;
	height:24px;
	position:absolute;
	left:1172px;
	top:133px;
	font-family:Montserrat;
	text-align:right;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_107 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:659px;
	top:133px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_108 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:850px;
	top:133px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_109 { 
	width:118px;
	height:116px;
	position:absolute;
	left:137px;
	top:87px;
	border-top-left-radius:120px;
	border-top-right-radius:120px;
	border-bottom-left-radius:120px;
	border-bottom-right-radius:120px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
