* {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}
nav{
    font-size: 20px;
}
/* holding the image and the text */
.hd {
    position: relative;
    padding-top: 60px;
}
  /* text */
.text-block {
    position: absolute;
    bottom: 20px;
    left: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 300px;
}
h4{
    font-weight: bolder;
    font-size: 80px;
}
button{
    font-size: 24px;
}
.bgms{
    /* -webkit-filter: blur(2px);
    filter: blur(2px); */
    width: fit-content;
}
.bdy{
    margin-top: 275px;
}
.bdyim{
    margin-top: 90px;
    margin-bottom: 90px;
    /* width: fit-content; */
    /* height: fit-content; */
}
.sy1{
    margin-top: 75px;
    border-radius: 50%;
    margin-bottom: 75px;
}
.sybd{
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.mre{    
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    color: blue;

}
.mre:hover{
    color: aqua;
}
.sy2{
    margin-top: 75px;
    border-radius: 50%;
    margin-bottom: 75px;
}
.sybd2{
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.sy3{
    margin-top: 75px;
    border-radius: 50%;
    margin-bottom: 75px;
}
.sybd3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.fter{
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 150px;
    margin-top: 200px;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}