.e2_189 { 
	overflow:hidden;
}
.e2_189 { 
	background-color:rgba(211.43749594688416, 211.43749594688416, 211.43749594688416, 1);
	width:1680px;
	height:3000px;
	position:absolute;
}
.e6_100 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:1116px;
	position:absolute;
	left:0px;
	top:1619px;
}
.e6_103 { 
	color:rgba(0, 0, 0, 1);
	width:645px;
	height:144px;
	position:absolute;
	left:80px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_110 { 
	width:473px;
	height:352px;
	position:absolute;
	left:80px;
	top:324px;
}
.e6_106 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:36px;
	position:absolute;
	left:0px;
	top:148px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_107 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:473px;
	height:90px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_105 { 
	width:108px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:108px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e6_109 { 
	width:106px;
	height:30px;
	position:absolute;
	left:0px;
	top:322px;
}
.e6_108 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:106px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_111 { 
	width:473px;
	height:352px;
	position:absolute;
	left:579px;
	top:324px;
}
.e6_112 { 
	color:rgba(0, 0, 0, 1);
	width:233px;
	height:36px;
	position:absolute;
	left:0px;
	top:148px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_113 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:473px;
	height:90px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_114 { 
	width:108px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei6_114_6_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:108px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e6_115 { 
	width:106px;
	height:30px;
	position:absolute;
	left:0px;
	top:322px;
}
.ei6_115_6_108 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:106px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_125 { 
	width:473px;
	height:352px;
	position:absolute;
	left:1078px;
	top:324px;
}
.e6_126 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:36px;
	position:absolute;
	left:0px;
	top:148px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_127 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:473px;
	height:90px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_128 { 
	width:108px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei6_128_6_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:108px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e6_129 { 
	width:106px;
	height:30px;
	position:absolute;
	left:0px;
	top:322px;
}
.ei6_129_6_108 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:106px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:600px;
	position:absolute;
	left:0px;
	top:1019px;
}
.e6_97 { 
	width:750px;
	height:440px;
	position:absolute;
	left:830px;
	top:80px;
}
.e6_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:750px;
	height:440px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_99 { 
	width:750px;
	height:440px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/wallpaperflare_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_98 { 
	width:685px;
	height:144px;
	position:absolute;
	left:80px;
	top:228px;
}
.e6_91 { 
	color:rgba(0, 0, 0, 1);
	width:685px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_79 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:934px;
	position:absolute;
	left:0px;
	top:84px;
}
.e6_81 { 
	width:1680px;
	height:934px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_80 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1680px;
	height:934px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_70 { 
	width:1680px;
	height:934px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/wallpaperflare_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_87 { 
	color:rgba(255, 255, 255, 1);
	width:692px;
	height:146px;
	position:absolute;
	left:142px;
	top:354px;
	font-family:Montserrat;
	text-align:left;
	font-size:60px;
	letter-spacing:-1.5;
}
.e6_85 { 
	width:192px;
	height:52px;
	position:absolute;
	left:143px;
	top:554px;
}
.e6_82 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:192px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e6_86 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:24px;
	position:absolute;
	left:54px;
	top:14px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:-1.5;
}
.e2_190 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_193 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:39px;
	position:absolute;
	left:97px;
	top:25px;
	font-family:Montserrat;
	text-align:center;
	font-size:25px;
	letter-spacing:-1.5;
}
.e5_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:146px;
	height:55px;
	position:absolute;
	left:1512px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e5_26 { 
	background-color:rgba(57.37499848008156, 56.89687393605709, 56.89687393605709, 1);
	width:146px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6_46 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:26px;
	position:absolute;
	left:34px;
	top:14px;
	font-family:Montserrat;
	text-align:center;
	font-size:18px;
	letter-spacing:-1.5;
}
.e6_56 { 
	width:146px;
	height:55px;
	position:absolute;
	left:1347px;
	top:14px;
}
.e6_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:146px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e6_57 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:48px;
	top:16px;
	font-family:Montserrat;
	text-align:center;
	font-size:18px;
	letter-spacing:-1.5;
}
.e6_58 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:65px;
	height:18px;
	position:absolute;
	left:260px;
	top:38px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e6_59 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:53px;
	height:18px;
	position:absolute;
	left:363px;
	top:38px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e6_60 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:89px;
	height:18px;
	position:absolute;
	left:452px;
	top:38px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e6_61 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:61px;
	height:18px;
	position:absolute;
	left:578px;
	top:38px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e2_191 { 
	width:55px;
	height:54px;
	position:absolute;
	left:36px;
	top:14px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_132 { 
	background-color:rgba(0, 0, 0, 1);
	width:1680px;
	height:265px;
	position:absolute;
	left:0px;
	top:2735px;
}
.e6_133 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:466px;
	top:133px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_134 { 
	color:rgba(255, 255, 255, 0.800000011920929);
	width:301px;
	height:24px;
	position:absolute;
	left:1172px;
	top:133px;
	font-family:Montserrat;
	text-align:right;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_135 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:659px;
	top:133px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_136 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:850px;
	top:133px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e6_145 { 
	width:118px;
	height:116px;
	position:absolute;
	left:137px;
	top:87px;
	border-top-left-radius:120px;
	border-top-right-radius:120px;
	border-bottom-left-radius:120px;
	border-bottom-right-radius:120px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
